* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
}

main {
    width: 60%;
    background-color: lightblue;
    margin-left: 20%;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 10px;
}

section > div {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

img {
    border-radius: 50%;
}

section > div > p {
    margin-left: 20px;
}

header > h1 {
    text-align: center;
}

nav > ul {
    display: flex;
    /* box 가 되면 여백, 가로세로길이를 가질 수 있다 */
    justify-content: right;
}

nav li {
    /* 공백은 그 아래의 모든 자식요소들 모두 체크 */
    /* > 는 바로 아래의 자식 요소만 체크 */
    padding: 10px;
    margin: 5px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
}

article {
    padding: 50px;
}

article > p {
    margin-top: 10px;
}

footer {
    background-color: black;
    color: ghostwhite;
}
footer > ul {
    padding: 40px;
}