button {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

h2 {
    font-size: medium;
    color: blue;
}