button {
    width: 40px;
    height: 40px;
    background-color: peru;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}
button:hover {
    background-color: gray;
}

section > div > div > p {
    text-align: center;
    font-weight: bold;
}

section > div > div > img {
    margin: 10px;
}

#result {
    font-weight: bold;
}